body {
    background-color: #A61F46;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 7em;
    font-style: inherit;
}
h1{
    background-color: rgb(250, 241, 224);
    margin:0;
}
p {
    color:rgb(82, 120, 86);
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 40%;
    font-style: inherit;
    background-color:black;
    margin: 1%auto;
}

#galeria{
    background-color:rgb(0, 0, 0);
    width: 90vw;
    border:solid rgb(250, 241, 224) 5px;
    display:flex;
    justify-content: space-around;
}
#galeria:hover {
    background-color:rgb(250, 241, 224);
}

.foto{
    width: 93%;
    display:block;
    margin: 0%auto ;

}
