body {
    background-color: #A61F46;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 5em;
    font-style: oblique;
}
h1{
    background-color: chartreuse;
}
p {
    color:chartreuse;
    font-family: fantasy;
    font-size: xx-large;
    font-style: inherit;
    background-color:black;
}

#galeria{
    background-color:chartreuse;
}
.foto{
    width: 15%;
    
}